{% extends "index.html.j2" %}
{% block title %}Forest{% endblock %}
{% block content %}
    <h1>Forest ({{ forest.trunks|count }})</h1>
    <ul>
        {% for tweet in forest.trunks %}
            <li>
                {% include 'tweet.html.j2' %}
                <br/>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
