<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Decarbnow Backend</title>
</head>
<body>
    <div class="container">
        <h1>Stories</h1>
        <ul>
            {% for storyId, tweets in stories.items() %}
                <li>
                    <strong>{{ storyId }}, {{ tweets|count }} Entries</strong>
                    <ul>
                        {% for t in tweets %}
                            <li>
                                <div>
                                    <strong>{{ t.getId() }}</strong>, {{ t.getUserName() }}, {{ t.getTime() }} (<a href="/tweets/{{ t.getId() }}" target="_blank">JSON</a>, <a href="{{ t.getUrl() }}" target="_blank">Twitter</a>)<br/>
                                    <strong>Hastags:</strong> {{ ', '.join(t.getHashtags()) }}<br/>
                                    {{ t.getText() }}<br/>
                                    <strong>Links:</strong>
                                    <ul>
                                        {% for l in t.getLinks() %}
                                            <li>
                                                <a href="{{ l }}" target="_blank">{{ l }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <br/>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
