<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - Decarbnow Backend</title>
    </head>
    <body  style="font-family: monospace">
        <div id="header">
            <a href='/log/listener/html'>log</a>
            <a href='/tweets/all'>tweets all</a>
            <a href='/tweets/stories'>tweets stories</a>
            <a href='/tweets/forest' target="_blank">tweets forest</a>
            <a href='/tweets/forest/create' target="_blank">renew api json</a>
        </div>
        <br/>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
