<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} Decarbnow Backend</title>
    </head>
    <style>
        body {
            font-family: monospace;
            max-width:1200px;
            margin: 20px auto;
        }
        #header {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }
        div.tweet.private {
            color: #666;
        }
    </style>
    <body>
        <div id="header">
            <div>
                <a href='/tweets/all'>tweets</a>
                <a href='/tweets/stories'>stories</a>
                <a href='/tweets/forest'>forest</a>

                <a href='/log/listener/html'>log</a>
            </div>
            <div>
                api json:
                <a href='/tweets' target="_blank">show↗</a>
                <a href='/tweets/forest/save' target="_blank">renew↗</a>
            </div>
        </div>
        <br/>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
