{% extends "index.html.j2" %}
{% block title %}Log {{ file }}{% endblock %}
{% block content %}
    <div>
        {% for f in files %}
            <a href='/log/{{f}}/html'>{{ f }}</a>
        {% endfor %}
        <h1>Log: {{ file }}</h1>
        <div style="margin-left: 20px;">
            {% for line in lines %}
                <span style="color: {% if '[ERROR]' in line %} #FF2222 {% elif '[WARNING]' in line %} #BBBB22 {% else %} #555555 {% endif %}">{{line}}</span></br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
