<div class="tweet{% if 'private' in tweet.getHashtags() or 'hide' in tweet.getHashtags()  %} private{% endif %}">
    <strong>{{ tweet.getId() }}</strong>, {{ tweet.getUserName() }}, {{ tweet.getDateTime() }} (<a href="/tweets/{{ tweet.getId() }}" target="_blank">JSON</a>, <a href="{{ tweet.getUrl() }}" target="_blank">Twitter</a>)<br/>
    <strong>Hastags:</strong> {{ ', '.join(tweet.getHashtags()) }}<br/>
    <strong>Links:</strong> (Has decarbnow link: {{ tweet.hasLinkTo() }})
    <ul>
        {% for l in tweet.getLinks() %}
            <li>
                <a href="{{ l }}" target="_blank">{{ l }}</a>
            </li>
        {% endfor %}
    </ul><br/>
    {{ tweet.getText() }}<br/><br/>
    <ul>
        {% for tweet in tweet.getChildren() %}
            <li>
                {% include 'tweet.html.j2' %}
            </li>
        {% endfor %}
    </ul>
</div>
